---
import { getLangFromUrl } from "../i18n/utils";
import { content } from "../utils/content";
import '@fontsource-variable/fira-code';
import '@fontsource-variable/open-sans';
import Links from "./Links.astro";
import RightArrow from "./icons/RightArrow.astro";

const lang = getLangFromUrl(Astro.url);
const text = content[lang]

---
<div class={`py-28 ${lang === 'es' ? 'lg:w-[1050px]' : 'lg:w-[1000px]'} mx-8  lg:mx-auto space-y-8`}>
  <div class="flex flex-col lg:flex-row  justify-between lg:items-center">
    <h1 class="font-firacode text-5xl font-semibold text-dirtyWhite lg:text-8xl">
      {text.header.title1}
    </h1>
    <h1 class="text-right lg:pl-20 text-dirtyWhite font-semibold text-6xl lg:text-8xl font-firacode lg:hidden">
      {text.header.title2}
    </h1>
    <a href="#projects" class="hidden lg:flex items-center px-20 h-[55px] bg-dirtyWhite rounded-full italic text-2xl font-light">
      <p>{text.header.button}</p>
      <RightArrow />
    </a>
  </div>
  <div class="flex flex-col lg:flex-row lg:items-center">
    <p class="font-opensans text-lightGray text-xl pb-8 lg:w-[400px] font-light items-center">
      {text.header.description}
    </p>
    <a href="#projects" class="flex items-center w-[250px] px-20 h-[55px] bg-dirtyWhite rounded-full lg:hidden italic text-2xl font-light">
      <p>{text.header.button}</p>
      <RightArrow />
    </a>
    <h1 class="hidden pl-20 text-dirtyWhite font-semibold text-8xl font-firacode lg:block">{text.header.title2}</h1>
  </div>
  <Links />
</div>