---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
// Supports weights 300-700
import "@fontsource-variable/fira-code";
import "@fontsource-variable/open-sans";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav
  class="flex justify-between flex-row text-lightGray text-xl font-opensans font-thin py-6 px-0 mx-0"
>
  <a
    href=`/${lang}`
    class="hover:text-dirtyWhite transition-all delay-150 text-lg lg:text-xl ml-8 lg:ml-12"
  >
    Ancel <br />Guarayo
  </a>
  <a id="menu-button" href="#" class="lg:hidden mr-8 space-y-[6px] group">
    <div id="menu-bar1" class="w-9 h-[3px] bg-lightGray group-hover:bg-dirtyWhite transition-all delay-150"></div>
    <div id="menu-bar2" class="w-9 h-[3px] bg-lightGray group-hover:bg-dirtyWhite transition-all delay-150"></div>
    <div id="menu-bar3" class="w-9 h-[3px] bg-lightGray group-hover:bg-dirtyWhite transition-all delay-150"></div>
  </a>

  <div class="hidden lg:flex w-1/2 right-0 lg:w-full absolute top-24 lg:static bg-dirtyWhite lg:bg-blackBg" id="menu-open">
    <ul class="flex flex-col lg:flex-row lg:gap-14 flex-1 items-end lg:mr-0 lg:items-center justify-center text-lg">
      <li
        class="hover:text-blackBg hover:font-normal lg:hover:text-dirtyWhite lg:hover:font-light hover:underline transition-all delay-150 px-8 py-4 lg:p-0"
      >
        <a href={`/${lang}`}>
          {t("nav.home")}
        </a>
      </li>
      <li
        class="hover:text-blackBg hover:font-normal lg:hover:text-dirtyWhite lg:hover:font-light hover:underline transition-all delay-150 px-8 py-4 lg:p-0"
      >
        <a href={`/${lang}/#about`}>
          {t("nav.about")}
        </a>
      </li>
      <li
        class="hover:text-blackBg hover:font-normal lg:hover:text-dirtyWhite lg:hover:font-light hover:underline transition-all delay-150 px-8 py-4 lg:p-0"
      >
        <a href={`/${lang}/#projects`}>
          {t("nav.projects")}
        </a>
      </li>
      <li
        class="hover:text-blackBg hover:font-normal lg:hover:text-dirtyWhite lg:hover:font-light hover:underline transition-all delay-150 px-8 py-4 lg:p-0"
      >
        <a href={`/${lang}/#contact`}>
          {t("nav.contact")}
        </a>
      </li>
    </ul>
    <div class="flex flex-row justify-end lg:flex-col py-4 lg:p-0 mr-8 lg:mr-12">
      <a
        href="/es/"
        class={`hover:underline ${lang === "es" ? "text-blackBg lg:text-dirtyWhite underline" : "text-lightGray hover:text-dirtyWhite transition delay-100"}`}
        >ES</a
      >
      <p class="lg:hidden">/</p>
      <a
        href="/en/"
        class={`hover:underline ${lang === "en" ? "text-blackBg lg:text-dirtyWhite underline" : "text-lightGray hover:text-dirtyWhite transition delay-100"}`}
        >EN</a
      >
    </div>
  </div>
</nav>
<script>
  const button = document.querySelector("#menu-button") as Element;
  const menuOpen = document.querySelector("#menu-open") as Element;

  button?.addEventListener("click", () => {
    // console.log("clicked...");
    // menuOpen.classList.toggle("hidden");
    const bar1 = document.querySelector("#menu-bar1")
    const bar2 = document.querySelector("#menu-bar2")
    const bar3 = document.querySelector("#menu-bar3")

    if(menuOpen.classList.contains('hidden')) {
      bar1?.classList.add('hidden')
      
      bar2?.classList.add('rotate-45')
      bar2?.classList.add('absolute')
      
      bar3?.classList.add('-rotate-45')

      menuOpen.classList.add('flex')
      menuOpen.classList.add('flex-col')
      menuOpen.classList.remove('hidden')
    } else {
      bar2?.classList.remove('rotate-45')
      bar2?.classList.remove('absolute')
      bar3?.classList.remove('-rotate-45')
      bar1?.classList.remove('hidden')
      menuOpen.classList.add('hidden')
    }
  });
</script>
