---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Appwrite from "../components/icons/Appwrite.astro";
import React from "../components/icons/React.astro";
import Swift from "../components/icons/Swift.astro";
import SwiftUI from "../components/icons/SwiftUI.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Typescript from "../components/icons/Typescript.astro";
import GitHubLink from "../components/GitHubLink.astro"

export const TECHS = {
  SWIFT: {
    name: "Swift",
    icon: Swift,
    link: "https://www.google.com"
  },
  SWIFTUI: {
    name: "SwiftUI",
    icon: SwiftUI,
    link: "www.google.com"
  },
  SWIFTDATA: {
    name: "SwiftData",
    icon: Swift,
    link: "www.google.com"
  },
  FIREBASE: {
    name: "Firebase",
    icon: Swift,
    link: "www.google.com"
  },
  TYPESCRIPT: {
    name: "Typescript",
    icon: Typescript,
    link: "www.google.com"
  },
  REACT: {
    name: "React",
    icon: React,
    link: "www.google.com"
  },
  APPWRITE: {
    name: "Appwrite",
    icon: Appwrite,
    link: "www.google.com"
  },
  TAILWIND: {
    name: "Tailwind",
    icon: Tailwind,
    link: "www.google.com"
  },
};
const PROJECTS = {
  en: {
    title: "Projects",
    items: [
      {
        title: "Expense Tracker",
        technologies: [
          TECHS.SWIFT,
          TECHS.SWIFTDATA,
          TECHS.SWIFTUI,
          TECHS.FIREBASE,
        ],
        description:
          '<p class="leading-8 font-light"><i class="text-dirtyWhite">Expense Tracker</i> es una aplicación para llevar un control más ordenador acerca de tus finanzas. Con ella podrás <i class="text-dirtyWhite">gestionar todos tus gastos</i> de una manera más detallada añadiendo categorías, <i class="text-dirtyWhite">subscripciones activas</i> e incluso adjuntar el recibo de cada uno de ellos.</p>',
        imgUrl: "/images/project1.png",
        linkProject: "https://github.com/anceldev/ExpenseTracker",
      },
      {
        title: "Movix",
        technologies: [],
        description:
          '<p class="leading-8 font-light"><i class="text-dirtyWhite">Movix</i> es una aplicación de streaming en la que podrás ver tus películas y series favoritas. Ademas, podrás compartir esa experiencia con la persona que quieras. Movix utiliza la <i class="text-dirtyWhite">API de The Movie DB.</i></p>',
        imgUrl: "/images/project2.png",
        linkProject: "https://github.com/anceldev/Movix",
      },
      {
        title: "La Roca Manager",
        technologies: [ TECHS.REACT, TECHS.TYPESCRIPT, TECHS.APPWRITE, TECHS.TAILWIND],
        description:
          '<p class="leading-8 font-light"><i class="text-dirtyWhite">La Roca Manager</i> es una aplicación web utilizada para la <i class="text-dirtyWhite">gestión y control de usuarios</i> dentro de una organización. A través de la misma se puede controlar las formaciones que realizan los usuarios, llevar un historial de sus acciones y almacenar sus datos.</p>',
        imgUrl: "/images/project3.png",
        linkProject: "https://github.com/anceldev/larocacyl-manager",
      },
    ],
  },
  es: {
    title: "Proyectos",
    items: [
      {
        title: "Expense Tracker",
        technologies: [
          TECHS.SWIFT,
          TECHS.SWIFTDATA,
          TECHS.SWIFTUI,
          TECHS.FIREBASE,
        ],
        description:
          '<p><i class="text-dirtyWhite">Expense Tracker</i> es una aplicación para llevar un control más ordenador acerca de tus finanzas. Con ella podrás <i class="text-dirtyWhite">gestionar todos tus gastos</i> de una manera más detallada añadiendo categorías, <i class="text-dirtyWhite">subscripciones activas</i> e incluso adjuntar el recibo de cada uno de ellos.</p>',
        imgUrl: "/images/project1.png",
        linkProject: "https://github.com/anceldev/ExpenseTracker",
      },
      {
        title: "Movix",
        technologies: [TECHS.SWIFT, TECHS.SWIFTUI, TECHS.FIREBASE],
        description:
          '<p><i class="text-dirtyWhite">Movix</i> es una aplicación de streaming en la que podrás ver tus películas y series favoritas. Ademas, podrás compartir esa experiencia con la persona que quieras. Movix utiliza la <i class="text-dirtyWhite">API de The Movie DB.</i></p>',
        imgUrl: "/images/project2.png",
        linkProject: "https://github.com/anceldev/Movix",
      },
      {
        title: "La Roca Manager",
        technologies: [TECHS.REACT, TECHS.TYPESCRIPT, TECHS.APPWRITE, TECHS.TAILWIND],
        description:
          '<p><i class="text-dirtyWhite">La Roca Manager</i> es una aplicación web utilizada para la <i class="text-dirtyWhite">gestión y control de usuarios</i> dentro de una organización. A través de la misma se puede controlar las formaciones que realizan los usuarios, llevar un historial de sus acciones y almacenar sus datos.</p>',
        imgUrl: "/images/project3.png",
        linkProject: "https://github.com/anceldev/larocacyl-manager",
      },
    ],
  },
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)
---

<div
  id="projects"
  class="flex flex-col justify-betwee my-8 mx-8 lg:mx-40 space-y-8"
>
  <h3 class="text-dirtyWhite font-firacode text-xl lg:text-3xl size-1/2">
    {`.../${t('projects.title')}...`}
  </h3>
  <ul>
    {
      PROJECTS[lang].items.map((project, index) => (
        <li>
          <div class="flex flex-col lg:flex-row my-10 lg:my-28">
            <div
              class={index % 2 === 0 ? `w-full lg:w-2/5 space-y-6` : `lg:hidden`}
            >
              <h1 class="text-dirtyWhite text-3xl font-firacode font-light">
                {project.title}
              </h1>
              <ul class="flex flex-wrap">
                {
                  project.technologies.map((tech) => (
                    <li>
                      <a href={tech.link} class="flex border rounded-full lg:w-auto py-2 px-3 border-darkGray text-dirtyWhite mx-2 my-2 text-sm font-light font-firacode items-center gap-2">
                      <tech.icon class="size-5" />
                      {tech.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
              <div class="text-lightGray text-xl font-opensans">
                <p set:html={project.description} />
              </div>
              <GitHubLink href={project.linkProject} />
            </div>
            <div class="w-full lg:w-3/5">
              <img src={project.imgUrl} alt="project image"
              class="px-0 py-8 lg:p-12"
              />
            </div>
            <div
              class={index % 2 === 0 ? `hidden` : `hidden lg:flex lg:flex-col lg:w-2/5 space-y-6`}
            >
              <h1 class="text-dirtyWhite text-3xl font-firacode font-light">
                {project.title}
              </h1>
              <ul class="flex flex-wrap">
                {
                  project.technologies.map((tech) => (
                    <li>
                      <a href={tech.link} class="flex border rounded-full lg:w-auto py-2 px-3 border-darkGray text-dirtyWhite mx-2 my-2 text-sm font-light font-firacode items-center gap-2">
                      <tech.icon class="size-5" />
                      {tech.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
              <div class="text-lightGray text-xl font-opensans">
                <p set:html={project.description} />
              </div>
              <GitHubLink href={project.linkProject} />
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</div>
