---
import ArrowTopRight from './icons/ArrowTopRight.astro';
import Github from './icons/Github.astro';


interface Props {
  title: string;
  technologies: string[];
  description: string;
  imgUrl: string;
  linkProject: string;
}
const { title, technologies, description, imgUrl, linkProject } = Astro.props;
---

<div class="flex flex-row my-36">
  <div class="size-2/5 space-y-6">
    <h1 class="text-dirtyWhite text-3xl font-firacode font-light">{title}</h1>
    <ul class="flex flex-wrap">
      {
        technologies.map((tech) => (
          <li class="border w-min rounded-full lg:w-auto py-2 px-3 border-darkGray text-dirtyWhite mx-2 my-2 text-sm font-light font-firacode">{tech}</li>
        ))
      }
    </ul>
    <p class="text-lightGray text-xl font-opensans">{description}</p>
    <a href={linkProject} class="flex">
      <p class="border border-darkGray text-dirtyWhite rounded-full p-4"> 
        <Github />
      </p>
      <p class="border border-darkGray text-dirtyWhite rounded-full p-4 bg-dirtyWhite ml-[-20px]">
        <ArrowTopRight />
      </p>
    </a>
  </div>
  <div class="size-3/5">
    <img 
    src={`../../public/images/${imgUrl}`} 
    alt="project image" 
    class="p-12">
  </div>
</div>
